# Backend Go API base URL
# Local: http://localhost:5000
# Production: https://go-blog-k1kn.onrender.com
NEXT_PUBLIC_API_URL=https://go-blog-k1kn.onrender.com
NEXT_PUBLIC_APP_URL=https://noterverse.vercel.app
